*
    margin: 0
    padding: 0
    box-sizing: border-box
.wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    justify-content: space-around
    width: 100%
    height: 100vh
    background: skyblue
    .jumbotron
        background: pink
        width: 50%
        height: 20%
    .search
        display: flex
        width: 80%
        height: 7%
        background: coral
        // .search__bar
        iframe
            width: 100%
            height: 100%
            border: none
            outline: none
            background: gray
            color: red
    .links
        display: flex
        width: 90%
        height: 10%
        justify-content: space-between
        background: grey
    .apps
        justify-content: space-between
        display: flex
        width: 80%
        height: 50%
        background: lightgreen
        .apps__todo
            display: flex
            flex-direction: column
            height: 100%
            width: 40%
            background: white 
             
        .apps__note
            display: flex
            flex-direction: column
            height: 100%
            width: 40%
            background: blue
            textarea
                width: 100%
                height: 100%
                border: none
                outline: none
                resize: none
                color: #39216d
                background: lightyellow

