* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background: skyblue;
}

.wrapper .jumbotron {
  background: pink;
  width: 50%;
  height: 20%;
}

.wrapper .search {
  display: flex;
  width: 80%;
  height: 7%;
  background: coral;
}

.wrapper .search iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: gray;
  color: red;
}

.wrapper .links {
  display: flex;
  width: 90%;
  height: 10%;
  justify-content: space-between;
  background: grey;
}

.wrapper .apps {
  justify-content: space-between;
  display: flex;
  width: 80%;
  height: 50%;
  background: lightgreen;
}

.wrapper .apps .apps__todo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  background: white;
}

.wrapper .apps .apps__note {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  background: blue;
}

.wrapper .apps .apps__note textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  color: #39216d;
  background: lightyellow;
}
