* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background: lightgray;
}

.wrapper .jumbotron {
  width: 50%;
  height: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.wrapper .jumbotron h1 {
  font-size: 3em;
}

.wrapper .jumbotron h2 {
  font-size: 2em;
}

.wrapper .search {
  display: flex;
  width: 50%;
  height: 5%;
  margin-top: -100px;
  border-radius: 4px;
}

.wrapper .search form {
  display: flex;
  width: 100%;
}

.wrapper .search form .search__bar {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0px 0px 32px -7px #615f61;
}

.wrapper .search form .search__btn {
  display: none;
}

.wrapper .links {
  display: flex;
  width: 70%;
  height: 5%;
  background: grey;
  margin-top: -50px;
}

.wrapper .links ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrapper .links ul li {
  width: 15%;
  list-style: none;
  text-align: center;
  background: green;
}

.wrapper .links ul li:hover ul li {
  display: flex;
}

.wrapper .links ul li ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper .links ul li ul li {
  display: none;
  width: 100%;
  text-align: center;
  background: red;
}

.wrapper .apps {
  justify-content: space-between;
  display: flex;
  width: 80%;
  height: 50%;
}

.wrapper .apps .apps__todo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  overflow: scroll;
  background: white;
  border-radius: 11px;
  box-shadow: 0px 0px 42px -7px #615f61;
}

.wrapper .apps .apps__todo::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.wrapper .apps .apps__todo .apps__todo__headder {
  display: flex;
  height: 45px;
  background: gray;
}

.wrapper .apps .apps__todo .apps__todo__headder .apps__todo__headder--dots {
  display: flex;
  width: 40%;
  align-items: center;
}

.wrapper .apps .apps__todo .apps__todo__headder .apps__todo__headder--dots .dots {
  display: flex;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: yellow;
  margin-left: 20px;
}

.wrapper .apps .apps__todo .apps__todo__headder .apps__todo__headder--dots .dots:after {
  content: "\00a0\00a0 \00a0\00a0";
  font-size: 11px;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: lightgreen;
  margin-left: 20px;
}

.wrapper .apps .apps__todo .apps__todo__headder .apps__todo__headder--dots .dots:before {
  content: "\00a0\00a0\00a0\00a0";
  font-size: 11px;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: red;
  margin-left: -15px;
}

.wrapper .apps .apps__todo ul {
  font-size: 1em;
  list-style: none;
}

.wrapper .apps .apps__todo .apps__todo--inputs {
  display: flex;
  width: 100%;
}

.wrapper .apps .apps__todo .apps__todo--inputs form {
  display: flex;
  width: 70%;
  height: 100%;
}

.wrapper .apps .apps__todo .apps__todo--inputs input[type=text] {
  width: 100%;
}

.wrapper .apps .apps__note {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  background: white;
  border-radius: 11px;
  box-shadow: 0px 0px 42px -7px #615f61;
}

.wrapper .apps .apps__note .apps__note__headder {
  display: flex;
  height: 45px;
  background: gray;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
}

.wrapper .apps .apps__note .apps__note__headder .apps__note__headder--dots {
  display: flex;
  width: 40%;
  align-items: center;
}

.wrapper .apps .apps__note .apps__note__headder .apps__note__headder--dots .dots {
  display: flex;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: yellow;
  margin-left: 20px;
}

.wrapper .apps .apps__note .apps__note__headder .apps__note__headder--dots .dots:after {
  content: "\00a0\00a0 \00a0\00a0";
  font-size: 11px;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: lightgreen;
  margin-left: 20px;
}

.wrapper .apps .apps__note .apps__note__headder .apps__note__headder--dots .dots:before {
  content: "\00a0\00a0\00a0\00a0";
  font-size: 11px;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: red;
  margin-left: -15px;
}

.wrapper .apps .apps__note textarea {
  overflow: scroll;
  font-size: 1em;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  color: #39216d;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

.wrapper .apps .apps__note textarea::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
